<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I love web based technologies and hence I keep experimenting with whatever new and exciting I come across.</p>
    <p>I'm more of a backend developer and system administration geek.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/hmaster0" target="_blank"><%= fa_icon "github 2x" %></a></li>
      <li><a href="https://www.instagram.com/bhulkuashish" target="_blank"><%= fa_icon "instagram 2x" %></a></li>
      <li><a href="https://twitter.com/bhulkuashish" target="_blank"><%= fa_icon "twitter 2x" %></a></li>
      <li><a href="https://www.facebook.com/BhulkuAshish" target="_blank"><%= fa_icon "facebook 2x" %></a></li>
    </ol>
  </div>
</div>
