<h1 class="cover-heading">About Me!</h1>
<hr>
<div class="row">
  <div class="col-md-4">    
    <%= image_tag "profile.jpg", width: 300, alt: 'Profile Image' %>
  </div>
  <div class="col-md-8">
    <p>Date of Birth :- Somehow made it to this planet on <b>26<sup>th</sup> June 1994</b>.</p>
    <p>Hobbies :- <b>Reading Books, Eating, Listening to music, Innovating through code, and Debating</b>.</p>
    <p>Education :- <b>B. Sc in Computer Science</b> from <b>Birla College of Arts, Commerce and, Science</b>.</p>
    <p>Favorite Quote :- <b>Love rules the world !</b></p>
    <p>Technologies Proficient with :- <b>HTML5, CSS3, Javascript, jQuery, PHP, Ruby on Rails, Git, Capistrano and Ubuntu</b>.</p>
  </div>
</div>
