<div class="inner cover">
  <h1 class="cover-heading">Hey there! Welcome to my online portfolio.</h1>
  <p class="lead">I'm a <b>Full Stack Developer</b> with a technology agnostic approach to modern day web development. Software development, until recently, has been a cryptic and tedious process which not only wastes the time of the developers but also of their clients. With decent skills, sincere efforts, and proper communication I plan on addressing this problem.</p>
  <p class="lead">
    <%= link_to 'About Me', about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
